<div class="session-login">
  {{#if errorMessage}}
    <p class="alert alert-danger">{{errorMessage}}</p>
  {{/if}}

  {{#bs-form action="authenticate" submitOnEnter=true}}
    {{bs-form-element label=(t 'session.email.label')
                      placeholder=(t 'session.email.placeholder')
                      value=identification}}
    {{bs-form-element label=(t 'session.password.label')
                      controlType="password"
                      placeholder=(t 'session.password.placeholder')
                      value=password}}

    <div class="link-password-forgotten">
      {{#link-to 'session.password_forgotten'}}
        {{t "session.link.password_forgotten"}}
      {{/link-to}}
    </div>

    {{#bs-button type="accent" block="true" action="authenticate"}}
      {{ t 'session.login.button'}}
    {{/bs-button}}
  {{/bs-form}}
</div>
