{{#if sentMessage}}
  <p class="alert alert-info">
    {{ sentMessage}}
  </p>

  {{#bs-button type="accent" block="true" action="clear"}}
    {{ t 'session.password_forgotten.clear'}}
  {{/bs-button}}
{{else}}
  {{#if errorMessage}}
    <p class="alert alert-danger">{{errorMessage}}</p>
  {{/if}}

  {{#bs-form action="forgotPassword" submitOnEnter=true}}
    {{bs-form-element label=(t 'session.email.label')
                      controlType="email"
                      placeholder=(t 'session.email.placeholder')
                      value=identification}}
    {{#bs-button type="accent" block="true" action="forgotPassword"}}
      {{ t 'session.password_forgotten.button'}}
    {{/bs-button}}
  {{/bs-form}}

{{/if}}
