<p>
  <%= t 'user_mailer.member.body.greeting', email: @member_email %>
</p>

<p>
  <%= t 'user_mailer.member.body.added_html',
        organization: link_to(@organization.name, @organization) %>
</p>

<p>
  <%= t 'user_mailer.member.body.what_to_do' %>
</p>

<p>
  <%= t 'user_mailer.member.body.wish_html' %>
</p>

<p>
  <%= t 'user_mailer.member.body.cheers' %>
</p>

<% content_for :footer do %>
  <div class="message">
    <%= t 'user_mailer.member.footer.message' %>
  </div>
  <%= link_to t('user_mailer.member.footer.button'),
              @organization,
              class: "btn btn-lg btn-accent float-right" %>
<% end %>
