<div class="organization">
  {{ organization-details organization=model}}

  {{#bs-tab}}
  {{#bs-tab-pane title=(t 'organizations.tasks.title')}}

    {{task-list organization=model tasks=model.tasks}}

    {{#if model.tasks}}
      {{#link-to 'tasks.new' (query-params organization_id=model.id) class="btn btn-primary pull-right"}}
        {{t 'tasks.index.new.button'}}
      {{/link-to}}
    {{/if}}
  {{/bs-tab-pane}}

  {{#bs-tab-pane title=(t 'organizations.groups.title')}}
    {{group-list organization=model groups=model.groups}}
  {{/bs-tab-pane}}

  {{#bs-tab-pane title=(t 'organizations.admins.title')}}
    {{admin-list organization=model}}
  {{/bs-tab-pane}}
{{/bs-tab}}

</div>
