{{navigation-bar session=session}}

<div class="container">
  <div class="home">
      <div class="row">
    {{#each model as |organization index| }}
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">{{ organization.name }}</div>

            <div class="list-group">
              {{#each organization.tasks as |task|}}
                {{#link-to 'tasks.show' task class="list-group-item"}}
                  <h3 class="list-group-item-heading">{{task.title}}</h3>

                  <div class="list-group-item-text">
                    {{ fa-icon "clock-o"}}

                    {{#if task.responsibles }}
                      {{ t (concat 'tasks.index.responsibles.' task.recurrenceLabel) responsibles=task.responsibles}}
                    {{else}}
                      {{ t 'tasks.index.timeAhead' time=(moment-to-now task.nextOcurrenceAt hidePrefix=true) }}
                    {{/if}}
                  </div>
                {{/link-to}}
              {{else}}
                <div class="list-group-item">
                  {{#bs-alert type="info" dismissible=false}}
                    {{ t 'tasks.index.empty.message' }}
                  {{/bs-alert}}

                  {{#link-to 'tasks.new' class="btn btn-primary pull-right"}}
                    {{t 'tasks.index.empty.button'}}
                  {{/link-to}}
                  <div class="clearfix"></div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
    {{/each}}
  </div>
  </div>
</div>
