{{navigation-bar}}

<div class="container">
  <h1>{{t 'share.title'}}</h1>

  <div class="alert alert-info">
    <p>
      {{t 'share.reason'}}
    </p>
    <p>
      {{t 'share.whatToDo'}}
    </p>
  </div>

  <div class="alert alert-warning">
    {{t 'share.warning'}}
  </div>

  {{share-invite}}
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  {{footer-bar}}
</nav>
