{{#within-navbars}}
  <h1>{{t 'share.title'}}</h1>

  <div class="alert alert-info">
    <p>
      {{t 'share.reason'}}
    </p>
    <p>
      {{t 'share.whatToDo'}}
    </p>
  </div>

  <div class="alert alert-warning">
    {{t 'share.warning'}}
  </div>

  {{share-invite}}
{{/within-navbars}}
