{{#bs-modal
  title=title
  open=open
  closeAction=(action "cancel")
  body=false
  footer=false}}

  {{#bs-modal-body}}
    {{#each groupErrors as |error|}}
      <div class="error">
        {{#bs-alert type="danger"}}
          {{error.attribute}} {{error.message}}
        {{/bs-alert}}
      </div>
    {{/each}}

    {{#bs-form action=(action "save") model=group}}
      {{bs-form-element
        autofocus=true
        label=(t 'groups.name.label')
        placeholder=(t 'groups.name.placeholder')
        property="name"}}
      {{bs-form-element
        controlType='textarea'
        label=(t 'groups.emails.label')
        placeholder=(t 'groups.emails.placeholder')
        property="emailsString"}}
    {{/bs-form}}
  {{/bs-modal-body}}

  {{#bs-modal-footer as |footer|}}
    {{#unless group.isNew}}
      {{bs-button type="danger" defaultText=(t "groups.modal.remove") action=(action 'confirmRemove')}}
    {{/unless}}
    {{bs-button type="default" defaultText=(t "groups.modal.cancel") action=(action 'close' target=footer)}}
    {{bs-button type="primary" defaultText=(t "groups.modal.save") buttonType='submit'}}
  {{/bs-modal-footer}}
{{/bs-modal}}

{{#bs-modal title=(t 'groups.modal.confirmRemove.title')
            body=false
            footer=false
            open=openConfirmRemove
            closeAction=(action 'cancelRemove')
            submitAction=(action "remove")}}

  {{#bs-modal-body}}{{ t 'groups.modal.confirmRemove.body' }}{{/bs-modal-body}}

  {{bs-modal-footer closeTitle=(t 'groups.modal.confirmRemove.cancel') submitTitle=(t 'groups.modal.confirmRemove.submit')}}
{{/bs-modal}}
