{{#each task.errors as |error|}}
  <div class="error">
    {{#bs-alert type="danger"}}
      {{error.attribute}} {{error.message}}
    {{/bs-alert}}
  </div>
{{/each}}

{{#bs-form action="createTask"}}
  {{bs-form-element label=labels.title placeholder=labels.title value=task.title}}
  {{bs-form-element label=labels.description
                   placeholder=labels.description
                   controlType="textarea"
                   value=task.description}}

  <div class="form-group">
    <label class="control-label">{{labels.recurrence}}</label>
    {{select-element choices=recurrenceOptions
                     value=task.recurrence
                     classNames="form-control"}}
  </div>

  {{#if taskRecurreceIsWeekly}}
    <label class="control-label">Position</label>
    {{select-element choices=recurrenceMatchPositions
                     value=recurrenceMatchPositionId
                     classNames="form-control"}}

   <label class="control-label">Day of the Week</label>
   {{select-element choices=recurrenceMatchDays
                    value=recurrenceMatchDayId
                    classNames="form-control"}}


   {{bs-form-element controlType="hidden"
                    value=task.recurrenceMatch}}

  {{/if}}

  {{bs-form-element label=labels.notificationEmail
                    placeholder=labels.notificationEmail
                    controlType="email"
                    value=task.notificationEmail}}

  {{bs-form-element label=labels.notificationSubject
                    placeholder=labels.notificationSubject
                    controlType="textarea"
                    value=task.notificationSubject}}

  {{#bs-button type="primary" action="createTask"}}
    {{t 'tasks.new.title'}}
  {{/bs-button}}
{{/bs-form}}
