{{#if showing }}
  <h1>
    {{task.title}}

    {{#if showing}}
      {{#bs-button type="default" action=onEdit class="pull-right"}}
        {{ t 'tasks.notifications.edit.button' }}
      {{/bs-button}}
    {{/if }}

    <div class="clearfix"></div>
  </h1>

  <div class="recurrence">
    {{ fa-icon 'refresh'}}
    {{ t ( concat 'tasks.recurrence.' task.recurrenceLabel )}}
    {{#if task.hasRecurrenceMatch}}
      {{ t ( concat 'tasks.recurrenceMatch.position.' task.recurrenceMatchPositionLabel )}}
      {{ t ( concat 'tasks.recurrenceMatch.day.' task.recurrenceMatchDayLabel )}}
    {{/if}}
  </div>

  {{#if task.description }}
    <div class="description">
      {{task.description}}
    </div>
  {{/if}}
{{/if}}

{{#if editing }}

  {{task-details-form task=task
                      taskErrors=taskErrors
                      formAction=onSave
                      formCancel=onCancel
                      actionLabel=(t 'tasks.details.save.button')}}
{{/if }}
