{{#if showing}}
  {{ turn.weekWithResponsibles }}

  {{bs-button type="default" action="edit" defaultText=(t 'tasks.turns.row.edit.button') class="pull-right"}}
  <div class="clearfix"></div>
{{else}}
  <div class="handle-wrapper">
    {{ fa-icon 'sort' class="handle" }}
  </div>

  {{#bs-button-group class="actions pull-right"}}
    {{bs-button type="accent" action="save" defaultText=(t 'tasks.turns.row.save.button')}}
  {{/bs-button-group}}

  {{#power-select-multiple
    options=excludedGroups
    selected=selectedGroups
    searchField="name"
    onchange=(action (mut selectedGroups))
    class="groups-select"
    as |group|}}
    {{group.name}}
  {{/power-select-multiple}}

{{/if}}
