{{#each task.errors as |error|}}
  <div class="error">
    {{#bs-alert type="danger"}}
      {{error.attribute}} {{error.message}}
    {{/bs-alert}}
  </div>
{{/each}}

{{#bs-form action="submitForm"}}
  {{bs-form-element label=labels.title placeholder=labels.title value=task.title}}

  <div class="form-group">
    <label class="control-label">{{labels.recurrence}}</label>

    <div class="row">

      <div class="col-sm-6">
        {{#power-select
          options=Task.recurrenceOptions
          selected=task.recurrenceObject
          onchange=(action (mut task.recurrenceObject))
          searchEnabled=false
          placeholder=(t 'tasks.recurrence.placeholder')
          as |option|}}
          {{ t (concat 'tasks.recurrence.' option.label)}}
        {{/power-select}}
      </div>

      {{#if task.recurreceIsMonthly}}
        <div class="col-sm-3">

        {{#power-select
          options=Task.recurrenceMatchPositionOptions
          selected=task.recurrenceMatchPositionObject
          onchange=(action (mut task.recurrenceMatchPositionObject))
          searchEnabled=false
          placeholder=(t 'tasks.recurrenceMatch.position.placeholder')
          as |option|}}
          {{ t (concat 'tasks.recurrenceMatch.position.' option.label)}}
        {{/power-select}}
        </div>
        <div class="col-sm-3">
        {{#power-select
          options=Task.recurrenceMatchDayOptions
          selected=task.recurrenceMatchDayObject
          onchange=(action (mut task.recurrenceMatchDayObject))
          searchEnabled=false
          placeholder=(t 'tasks.recurrenceMatch.day.placeholder')
          as |option|}}
          {{ t (concat 'tasks.recurrenceMatch.day.' option.label)}}
        {{/power-select}}

        </div>
      {{/if}}
    </div>
  </div>

  {{bs-form-element label=labels.description
                   placeholder=labels.description
                   controlType="textarea"
                   value=task.description}}

  <div class="btn-toolbar">
    {{#bs-button type="primary" action="submitForm" class="pull-right"}}
      {{actionLabel}}
    {{/bs-button}}

    {{bs-button defaultText=(t 'tasks.details.cancel.button') type="default" action=formCancel class="pull-right"}}
  </div>

  <div class="clearfix"></div><!-- align floating button -->
{{/bs-form}}
