{{#each task.errors as |error|}}
  <div class="error">
    {{#bs-alert type="danger"}}
      {{error.attribute}} {{error.message}}
    {{/bs-alert}}
  </div>
{{/each}}

{{#bs-form action="submitForm"}}
  {{bs-form-element label=labels.title placeholder=labels.title value=task.title}}
  {{bs-form-element label=labels.description
                   placeholder=labels.description
                   controlType="textarea"
                   value=task.description}}

  <div class="form-group">
    <label class="control-label">{{labels.recurrence}}</label>
    {{select-element choices=recurrenceOptions
                     value=task.recurrence
                     classNames="form-control"}}
  </div>

  {{#if taskRecurreceIsMonthly}}
    <label class="control-label">Position</label>
    {{select-element choices=recurrenceMatchPositions
                     value=recurrenceMatchPositionId
                     classNames="form-control"}}

   <label class="control-label">Day of the Week</label>
   {{select-element choices=recurrenceMatchDays
                    value=recurrenceMatchDayId
                    classNames="form-control"}}


   {{bs-form-element controlType="hidden"
                    value=task.recurrenceMatch}}

  {{/if}}

  {{#bs-button type="primary" action="submitForm" class="pull-right"}}
    {{actionLabel}}
  {{/bs-button}}
  {{bs-button defaultText=(t 'tasks.details.cancel.button') type="default" action=formCancel class="pull-right"}}

  <div class="clearfix"></div><!-- align floating button -->
{{/bs-form}}
