{{#if showForm}}
  {{#bs-form class="task-notifications" formLayout="horizontal" horizontalLabelGridClass="col-md-2" action=onSave}}
    {{#if task.turns }}
      {{bs-form-element label=(t 'tasks.notifications.to') value="@responsibles" disabled=true}}
    {{/if}}
    {{bs-form-element label=(t (concat 'tasks.notifications.' (if task.turns 'cc' 'to'))) value=task.notificationEmail disabled=showing }}
    {{bs-form-element label=(t 'tasks.notifications.subject') value=task.notificationSubject disabled=showing}}
    {{bs-form-element label=(t 'tasks.notifications.body') controlType="textarea" value=task.notificationBody disabled=showing}}

    {{#if editing }}
      <div class="btn-toolbar">
        {{bs-button defaultText=(t 'tasks.notifications.save.button') type="primary" buttonType="submit" class="pull-right"}}
        {{bs-button defaultText=(t 'tasks.notifications.cancel.button') type="default" action=onCancel class="pull-right"}}
      </div>
    {{/if}}
  {{/bs-form}}
{{/if}}


{{#unless showForm }}
  {{#bs-alert type="info"}}
    {{ t 'tasks.notifications.empty.message' }}
  {{/bs-alert}}

  {{#if canEditNotifications}}
    {{#bs-button type="primary" action=onEdit}}
      {{ t 'tasks.notifications.empty.button' }}
    {{/bs-button}}
  {{/if}}
{{/unless}}
