{{#if showing}}
  <h3>
    {{ turn.responsibles }}

    {{bs-button type="default" action="edit" defaultText=(t 'tasks.turns.row.edit.button') class="pull-right"}}
  </h3>

  <div class="week-in-words">
    {{ fa-icon 'clock-o' }}
    {{ turn.weekInWords }}
  </div>

  <div class="clearfix"></div>
{{else}}
  <div class="groups-edit">

    <span class="handle">
      {{ fa-icon 'sort' }}
    </span>
    {{bs-tooltip
      title=(t 'tasks.turns.row.handle.tip')
      triggerElement=".handle"}}

    {{#power-select-multiple
      options=excludedGroups
      selected=selectedGroups
      searchField="name"
      onchange=(action (mut selectedGroups))
      class="groups-select"
      as |group|}}
      {{group.name}}
    {{/power-select-multiple}}

    {{#bs-button-group class="add-group-wrapper"}}
      {{#bs-button type="primary" action="addGroup"}}
        {{ fa-icon 'plus-circle'}}
        {{ t 'tasks.turns.row.add.button' }}
      {{/bs-button}}
    {{/bs-button-group}}
  </div>

  <div class="actions btn-toolbar pull-right">
    {{bs-button type="default" action="cancel" defaultText=(t 'tasks.turns.row.cancel.button')}}
    {{bs-button type="accent" action="save" defaultText=(t 'tasks.turns.row.save.button')}}
  </div>
  <div class="clearfix"></div>

  {{#bs-modal
    title=(t 'tasks.turns.addModal.title')
    open=showNewGroupModal
    body=false
    footer=false}}
    {{#bs-modal-body}}

      {{#each groupErrors as |error|}}
        <div class="error">
          {{#bs-alert type="danger"}}
            {{error.attribute}} {{error.message}}
          {{/bs-alert}}
        </div>
      {{/each}}

      {{#bs-form action=(action "createGroup") model=this}}
        {{bs-form-element
          autofocus=true
          label=(t 'tasks.turns.addModal.name.label')
          placeholder=(t 'tasks.turns.addModal.name.placeholder')
          property="newGroupName"}}
        {{bs-form-element
          controlType='textarea'
          label=(t 'tasks.turns.addModal.emails.label')
          placeholder=(t 'tasks.turns.addModal.emails.placeholder')
          property="newGroupEmails"}}
      {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle=(t "tasks.turns.addModal.cancel") submitTitle=(t "tasks.turns.addModal.save")}}
  {{/bs-modal}}
{{/if}}
