<div>
  <h1>{{model.title}}</h1>

  <p>{{model.description}}</p>

  <div>
    <span class="glyphicon glyphicon-envelope">Notifications</span>

    <p>{{model.notificationEmail}}</p>
    <p>{{model.notificationSubject}}</p>
    <p>{{model.notificationBody}}</p>

  </div>
</div>
