<div>
  <h1>{{model.title}}</h1>

  <p>{{model.description}}</p>

  <h2>{{ t 'tasks.show.turns.title' }}</h2>

  {{ task-turns task=model }}

  <h2>
    {{ fa-icon 'envelope' }}
    {{ t 'tasks.show.notifications.title' }}
  </h2>

  {{ task-notifications task=model }}
</div>
